<form autocomplete="off" (ngSubmit)="salvar()" [formGroup]="formulario">
<section class="content">
    <mat-card class="animated fadeInRight mat-card ng-star-inserted" style="margin-bottom: 15px;"
        ng-reflect-klass="animated fadeInRight" ng-reflect-ng-class="vendido">
        <mat-card-title class="mat-card-title">
            <div class="row">
                <div style="margin-left: 10px;"><span> VEÍCULO: {{veiculo.marca.descricao}} {{veiculo.modelo}}</span></div>
            </div>
        </mat-card-title>

        <mat-card-content>
            <div class="card-info2" style="margin-bottom: 12px;">
                <span class="label-title">Ultima Revisão: </span>
                <span class="label-content">01/08/2012</span> |
                <span class="label-title">KM Ultima Revisão: </span> |
                <span class="label-content"> 32.9101</span> |
            </div>
            <h3 class="card-default-title">Dados do Veiculo:</h3>
            <hr />
            <span class="card-default-title">Marca:</span> {{veiculo.marca.descricao}} |
            <span class="card-default-title">Modelo:</span>{{veiculo.modelo}} |
            <span class="card-default-title">Placa:</span>{{veiculo.placa}} |
            <span class="card-default-title">Ano:</span> {{veiculo.ano}} |
            <span class="card-default-title">Cor:</span> {{veiculo.cor.descricao}}
        </mat-card-content>
    </mat-card>

    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title">Preencha os campos</h3>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Tipo de Despesa:</label>
                        <select formControlName="tipoDespesa" name="tipoDespesa" class="form-control select2" style="width: 100%;">
                            <option selected="selected">-- Selecione --</option>
                            <option *ngFor="let tp of tipoDespesa" [ngValue]="tp">
                                {{tp.descricao}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Valor:</label>
                        <input formControlName="valor" name="valor" type="text" class="form-control" prefix="R$" mask="separator,2" thousandSeparator=".">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label>Descrição:</label>
                        <input formControlName="descricao" type="descricao" class="form-control" maxlength="50">
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <button routerLink="/veiculos" type="submit" class="btn btn-danger">Cancelar</button>
                <button type="submit" class="btn btn-info pull-right" [disabled]="formulario.invalid">Cadastrar</button>
            </div>
        </div>
    </div>
</section>
</form>