<section class="content-header">
    <h1>
        Locações
        <small>listagem de Locações</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li>Cadastro</li>
        <li class="active">Locação</li>
    </ol>
</section>
<section class="content">
    <div class="ui-g">
        <button type="submit" routerLink="/locacao/novo" class="btn btn-success margin-table-bottom">
            <i class="fa  fa-plus"></i>
            Adicionar</button>
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Filtrar</h3>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>CPF:</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group">
                            <label>Nome:</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>&nbsp;</label>
                            <button type="submit" class="form-control btn btn-primary">Filtrar</button>
                        </div>
                    </div>
                </div>
                <div>
                </div>
            </div>
        </div>
        <mat-card class="animated fadeInRight mat-card pendente acoes ng-star-inserted"
            style="margin-bottom: 15px;" ng-reflect-klass="animated fadeInRight" ng-reflect-ng-class="vendido">
            <mat-card-title class="mat-card-title">
                <div class="row">
                    <div class="col-lg-3 col-md-2 col-sm-2 col-2 pull-right ng-star-inserted">
                        <span> CPF: 410.314.638-95 </span></div>
                    <div style="margin-left: 10px;"><span> CLIENTE: </span>JOSÉ CARLOS DO NASCIMENTO</div>
                </div>
            </mat-card-title>
            <div class="card-info2" style="margin-bottom: 12px;">
                <span class="label-title">Data de Início: </span>
                <span class="label-content">01/08/2012</span> | <span class="label-title">Data Previsão: </span><span class="label-content"> 11/08/2012</span>
            </div>
            <h3 class="card-default-title">Dados do Veiculo:</h3>
            <hr/>
            <span class="card-default-title">Marca:</span> Chevrolet | 
            <span class="card-default-title">Modelo:</span>Onix | 
            <span class="card-default-title">Placa:</span>CHE - 0001 | 
            <span class="card-default-title">Ano:</span> 2019 - 2020 | 
            <span class="card-default-title">Cor:</span> Preto 
        </mat-card>

        <mat-card class="animated fadeInRight mat-card atrasado ng-star-inserted"
        style="margin-bottom: 15px;" ng-reflect-klass="animated fadeInRight" ng-reflect-ng-class="vendido">
        <mat-card-title class="mat-card-title">
            <div class="row">
                <div class="col-lg-3 col-md-2 col-sm-2 col-2 pull-right ng-star-inserted">
                    <span> CPF: 410.314.638-95 </span></div>
                <div style="margin-left: 10px;"><span> CLIENTE: JOSÉ CARLOS DO NASCIMENTO</span></div>
            </div>
        </mat-card-title>
       
        <div class="card-info2" style="margin-bottom: 12px;">
            <span class="label-title">Data de Início: </span>
            <span class="label-content">01/08/2012</span> | <span class="label-title">Data Previsão: </span><span class="label-content"> 11/08/2012</span>
        </div>
        <h3 class="card-default-title">Dados do Veiculo:</h3>
        <hr/>
        <span class="card-default-title">Marca:</span> Chevrolet | 
        <span class="card-default-title">Modelo:</span>Onix | 
        <span class="card-default-title">Placa:</span>CHE - 0001 | 
        <span class="card-default-title">Ano:</span> 2019 - 2020 | 
        <span class="card-default-title">Cor:</span> Preto 
    </mat-card>

    <mat-card class="animated fadeInRight mat-card finalizado ng-star-inserted"
    style="margin-bottom: 15px;" ng-reflect-klass="animated fadeInRight" ng-reflect-ng-class="vendido">
    <mat-card-title class="mat-card-title">
        <div class="row">
            <div class="col-lg-3 col-md-2 col-sm-2 col-2 pull-right ng-star-inserted">
                <span> CPF: 410.314.638-95 </span></div>
            <div style="margin-left: 10px;"><span> CLIENTE: JOSÉ CARLOS DO NASCIMENTO</span></div>
        </div>
    </mat-card-title>
   
    <div class="card-info2" style="margin-bottom: 12px;">
        <span class="label-title">Data de Início: </span>
        <span class="label-content">01/08/2012</span> | 
        <span class="label-title">Data Previsão: </span> |
        <span class="label-content"> 11/08/2012</span> | 
        <span class="label-title">Data Fim: </span> |
        <span class="label-content"> 11/08/2012</span> | 
    </div>
    <h3 class="card-default-title">Dados do Veiculo:</h3>
    <hr/>
    <span class="card-default-title">Marca:</span> Chevrolet | 
    <span class="card-default-title">Modelo:</span>Onix | 
    <span class="card-default-title">Placa:</span>CHE - 0001 | 
    <span class="card-default-title">Ano:</span> 2019 - 2020 | 
    <span class="card-default-title">Cor:</span> Preto 
</mat-card>
    </div>
</section>