<section class="content">
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title">Listagem</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                <div class="row">
                    <div class="col-sm-12">
                        <table id="example2" class="table table-bordered table-hover dataTable" role="grid"
                            aria-describedby="example2_info">
                            <thead>
                                <tr role="row">
                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                    style="text-align:center"
                                        aria-label="Browser: activate to sort column ascending">Marca
                                    </th>
                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                        style="text-align:center"
                                        aria-label="Platform(s): activate to sort column ascending">
                                        Modelo</th>
                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                    style="text-align:center"
                                        aria-label="Platform(s): activate to sort column ascending">
                                        Placa</th>
                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                        style="text-align:center"
                                        aria-label="Engine version: activate to sort column ascending">
                                        Ganho
                                    </th>
                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                        style="text-align:center"
                                        aria-label="CSS grade: activate to sort column ascending">
                                        Despesa</th>
                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                        style="text-align:center"
                                        aria-label="CSS grade: activate to sort column ascending">
                                        Ação</th>
                                </tr>
                            </thead>
                            <tbody *ngFor = "let balanco of balancos">
                                <tr role="row" class="odd">
                                    <td>{{balanco.marca}}</td>
                                    <td>{{balanco.modelo}}</td>
                                    <td>{{balanco.placa}}</td>
                                    <td align="right">
                                        <span style="color: green;">
                                            {{balanco.valorGanhos | currency:'BRL':true}}
                                        </span>
                                    </td>
                                    <td align="right">
                                        <span style="color: red;">
                                           {{balanco.valorDespesas | currency:'BRL':true}}
                                        </span>
                                    </td>
                                    <td align="center">
                                            <i class="fa fa-info-circle" aria-hidden="true" title="Detalhes"
                                                data-toggle="modal" data-target="#modal-default" (click)="listarDespesas(1, balanco.modelo, balanco.placa)"
                                                style="cursor: pointer; margin: 0 5px">
                                            </i>
                                            

                                            <i class="fa fa-file-pdf-o" aria-hidden="true" 
                                                title="Extrair Relatório" style="cursor: pointer; margin: 0 5px">
                                            </i>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th style="text-align:center" rowspan="1" colspan="1">Marca</th>
                                    <th style="text-align:center" rowspan="1" colspan="1">Modelo</th>
                                    <th style="text-align:center" rowspan="1" colspan="1">Placa</th>
                                    <th style="text-align:center" rowspan="1" colspan="1">Ganho</th>
                                    <th style="text-align:center" rowspan="1" colspan="1">Despesa</th>
                                    <th style="text-align:center" rowspan="1" colspan="1">Ação</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"><span style="font-weight: bold;">Modelo:</span>{{modelo}} <span style="font-weight: bold;">Placa:</span> {{placa}}</h4>
            </div>
            <div class="modal-body">

                <!-- Custom Tabs -->
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab_1" data-toggle="tab">Ganhos</a></li>
                        <li><a href="#tab_2" data-toggle="tab">Despesas</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_1">

                            <table id="example2" class="table table-bordered table-hover dataTable" role="grid"
                            aria-describedby="example2_info">
                            <thead>
                                <tr role="row">
                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1"
                                        colspan="1" style="text-align:center"
                                        aria-label="Engine version: activate to sort column ascending">
                                        Cliente
                                    </th>
                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1"
                                        colspan="1" style="text-align:center"
                                        aria-label="CSS grade: activate to sort column ascending">
                                        Período</th>
                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1"
                                        colspan="1" style="text-align:center"
                                        aria-label="CSS grade: activate to sort column ascending">
                                        Valor</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr role="row">
                                    <td>Ivonildo</td>
                                    <td>01/05/2019 a 01/06/2019</td>
                                    <td>
                                        <span style="color: green">
                                            R$ 500,00
                                        </span>
                                    </td>
                                </tr>
                                <tr role="row">
                                    <td>Donavan</td>
                                    <td>11/12/2019 a 01/01/2020</td>
                                    <td>
                                        <span style="color: green">
                                            R$ 600,00
                                        </span>
                                    </td>
                                </tr>
                                <tr role="row">
                                    <td>José Carlos</td>
                                    <td>01/08/2019 a 11/10/2019</td>
                                    <td>
                                        <span style="color: green">
                                            R$  900,00
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                                <div class="pull-right;">
                                    <span style="color: green;">Total: R$ 2.000,00</span>
                                </div>
                        </div>
                        <!-- /.tab-pane -->
                        <div class="tab-pane" id="tab_2">

                            <table id="example2" class="table table-bordered table-hover dataTable" role="grid"
                            aria-describedby="example2_info">
                            <thead>
                                <tr role="row">
                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1"
                                        colspan="1" style="text-align:center"
                                        aria-label="Engine version: activate to sort column ascending">
                                        Descrição
                                    </th>
                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1"
                                        colspan="1" style="text-align:center"
                                        aria-label="CSS grade: activate to sort column ascending">
                                        Tipo</th>
                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1"
                                        colspan="1" style="text-align:center"
                                        aria-label="CSS grade: activate to sort column ascending">
                                        Data</th>
                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1"
                                        colspan="1" style="text-align:center"
                                        aria-label="CSS grade: activate to sort column ascending">
                                        Valor</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let despesa of despesas">
                                <tr role="row" class="odd">
                                    <td>{{despesa.descricao}}</td>
                                    <td>{{despesa.tipo.descricao}}</td>
                                    <td align="right">{{despesa.data | date: 'dd/MM/yyyy'}}</td>
                                    <td align="right">
                                        <span style="color: red">
                                            {{despesa.valor | currency:'BRL':true}}
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div style="margin-right: 1%;">
                            <span style="font-weight: bold;">Total:</span>
                            <span style="color: red; float:right;font-weight: bold;">{{valorTotalDespesas | currency:'BRL':true}}</span>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-primary">Sair</button>
            </div>
        </div>
    </div>
</div>