<section class="content">
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title">Listagem</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                <div class="row">
                    <div class="col-sm-12">
                        <table id="example2" class="table table-bordered table-hover dataTable" role="grid"
                            aria-describedby="example2_info">
                            <thead>
                                <tr role="row">
                                    <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1"
                                        colspan="1" style="text-align:center"
                                        aria-label="Rendering engine: activate to sort column descending"
                                        aria-sort="ascending">Código</th>
                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                    style="text-align:center"
                                        aria-label="Browser: activate to sort column ascending">Marca
                                    </th>
                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                        style="text-align:center"
                                        aria-label="Platform(s): activate to sort column ascending">
                                        Modelo</th>
                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                    style="text-align:center"
                                        aria-label="Platform(s): activate to sort column ascending">
                                        Placa</th>
                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                        style="text-align:center"
                                        aria-label="Engine version: activate to sort column ascending">
                                        Ganho
                                    </th>
                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                        style="text-align:center"
                                        aria-label="CSS grade: activate to sort column ascending">
                                        Despesa</th>
                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                        style="text-align:center"
                                        aria-label="CSS grade: activate to sort column ascending">
                                        Ação</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr role="row" class="odd">
                                    <td class="sorting_1">963254</td>
                                    <td>Fiat</td>
                                    <td>Argo</td>
                                    <td>ZXC-9999</td>
                                    <td>
                                        <span style="color: green;">
                                            R$ 500,00
                                        </span>
                                    </td>
                                    <td>
                                        <span style="color: red;">
                                            R$ - 1.400,00
                                        </span>
                                    </td>
                                    <td align="center">
                                            <i class="fa fa-info-circle" aria-hidden="true" title="Detalhes"
                                                data-toggle="modal" data-target="#modal-default"
                                                style="cursor: pointer; margin: 0 5px">
                                            </i>

                                            <i class="fa fa-file-pdf-o" aria-hidden="true" 
                                                title="Extrair Relatório" style="cursor: pointer; margin: 0 5px">
                                            </i>
                                    </td>
                                </tr>
                                <tr role="row" class="even">
                                    <td class="sorting_1">939371</td>
                                    <td>Honda</td>
                                    <td>CRV</td>
                                    <td>ZXC-9999</td>
                                    <td>
                                        <span style="color: green;">
                                            R$ 500,00
                                        </span>
                                    </td>
                                    <td>
                                        <span style="color: red;">
                                            R$ - 500,00
                                        </span>
                                    </td>
                                    <td align="center">
                                        <i class="fa fa-info-circle" aria-hidden="true" title="Detalhes"
                                        data-toggle="modal" data-target="#modal-default"
                                        style="cursor: pointer; margin: 0 5px">
                                    </i>

                                    <i class="fa fa-file-pdf-o" aria-hidden="true" 
                                        title="Extrair Relatório" style="cursor: pointer; margin: 0 5px">
                                    </i>
                                    </td>
                                </tr>
                                <tr role="row" class="odd">
                                    <td class="sorting_1">938355</td>
                                    <td>Chevrolet</td>
                                    <td>Onix</td>
                                    <td>ZXC-9999</td>
                                    <td>
                                        <span style="color: green;">
                                            R$ 500,00
                                        </span>
                                    </td>
                                    <td>
                                        <span style="color: red;">
                                            R$ - 500,00
                                        </span>
                                    </td>
                                    <td align="center">
                                        <i class="fa fa-info-circle" aria-hidden="true" title="Detalhes"
                                        data-toggle="modal" data-target="#modal-default"
                                        style="cursor: pointer; margin: 0 5px">
                                    </i>

                                    <i class="fa fa-file-pdf-o" aria-hidden="true" 
                                        title="Extrair Relatório" style="cursor: pointer; margin: 0 5px">
                                    </i>
                                    </td>
                                </tr>
                                <tr role="row" class="even">
                                    <td class="sorting_1">224488</td>
                                    <td>Renault</td>
                                    <td>Logan</td>
                                    <td>ZXC-9999</td>
                                    <td>
                                        <span style="color: green;">
                                            R$ 500,00
                                        </span>
                                    </td>
                                    <td>
                                        <span style="color: red;">
                                            R$ - 500,00
                                        </span>
                                    </td>
                                    <td align="center">
                                        <i class="fa fa-info-circle" aria-hidden="true" title="Detalhes"
                                        data-toggle="modal" data-target="#modal-default"
                                        style="cursor: pointer; margin: 0 5px">
                                    </i>

                                    <i class="fa fa-file-pdf-o" aria-hidden="true" 
                                        title="Extrair Relatório" style="cursor: pointer; margin: 0 5px">
                                    </i>
                                    </td>
                                </tr>
                                <tr role="row" class="odd">
                                    <td class="sorting_1">951144</td>
                                    <td>Audi</td>
                                    <td>R8</td>
                                    <td>ZXC-9999</td>
                                    <td>
                                        <span style="color: green;">
                                            R$ 500,00
                                        </span>
                                    </td>
                                    <td>
                                        <span style="color: red;">
                                            R$ - 500,00
                                        </span>
                                    </td>
                                    <td align="center">
                                        <i class="fa fa-info-circle" aria-hidden="true" title="Detalhes"
                                        data-toggle="modal" data-target="#modal-default"
                                        style="cursor: pointer; margin: 0 5px">
                                    </i>

                                    <i class="fa fa-file-pdf-o" aria-hidden="true" 
                                        title="Extrair Relatório" style="cursor: pointer; margin: 0 5px">
                                    </i>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th style="text-align:center" rowspan="1" colspan="1">Código</th>
                                    <th style="text-align:center" rowspan="1" colspan="1">Marca</th>
                                    <th style="text-align:center" rowspan="1" colspan="1">Modelo</th>
                                    <th style="text-align:center" rowspan="1" colspan="1">Placa</th>
                                    <th style="text-align:center" rowspan="1" colspan="1">Ganho</th>
                                    <th style="text-align:center" rowspan="1" colspan="1">Despesa</th>
                                    <th style="text-align:center" rowspan="1" colspan="1">Ação</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Argo - Placa: ZXC-9999</h4>
            </div>
            <div class="modal-body">

                <!-- Custom Tabs -->
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab_1" data-toggle="tab">Ganhos</a></li>
                        <li><a href="#tab_2" data-toggle="tab">Despesas</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_1">

                            <table id="example2" class="table table-bordered table-hover dataTable" role="grid"
                            aria-describedby="example2_info">
                            <thead>
                                <tr role="row">
                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1"
                                        colspan="1" style="text-align:center"
                                        aria-label="Engine version: activate to sort column ascending">
                                        Cliente
                                    </th>
                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1"
                                        colspan="1" style="text-align:center"
                                        aria-label="CSS grade: activate to sort column ascending">
                                        Período</th>
                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1"
                                        colspan="1" style="text-align:center"
                                        aria-label="CSS grade: activate to sort column ascending">
                                        Valor</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr role="row">
                                    <td>Ivonildo</td>
                                    <td>01/05/2019 a 01/06/2019</td>
                                    <td>
                                        <span style="color: green">
                                            R$ 500,00
                                        </span>
                                    </td>
                                </tr>
                                <tr role="row">
                                    <td>Donavan</td>
                                    <td>11/12/2019 a 01/01/2020</td>
                                    <td>
                                        <span style="color: green">
                                            R$ 600,00
                                        </span>
                                    </td>
                                </tr>
                                <tr role="row">
                                    <td>José Carlos</td>
                                    <td>01/08/2019 a 11/10/2019</td>
                                    <td>
                                        <span style="color: green">
                                            R$  900,00
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                                <div class="pull-right;">
                                    <span style="color: green;">Total: R$ 2.000,00</span>
                                </div>
                        </div>
                        <!-- /.tab-pane -->
                        <div class="tab-pane" id="tab_2">

                            <table id="example2" class="table table-bordered table-hover dataTable" role="grid"
                            aria-describedby="example2_info">
                            <thead>
                                <tr role="row">
                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1"
                                        colspan="1" style="text-align:center"
                                        aria-label="Engine version: activate to sort column ascending">
                                        Descrição
                                    </th>
                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1"
                                        colspan="1" style="text-align:center"
                                        aria-label="CSS grade: activate to sort column ascending">
                                        Tipo</th>
                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1"
                                        colspan="1" style="text-align:center"
                                        aria-label="CSS grade: activate to sort column ascending">
                                        Data</th>
                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1"
                                        colspan="1" style="text-align:center"
                                        aria-label="CSS grade: activate to sort column ascending">
                                        Valor</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr role="row" class="odd">
                                    <td>Troca de óleo</td>
                                    <td>Revisão</td>
                                    <td>05/05/219</td>
                                    <td>
                                        <span style="color: red">
                                            R$  - 500,00
                                        </span>
                                    </td>
                                </tr>
                                <tr role="row" class="even">
                                    <td>Pintura de paralama</td>
                                    <td>Funilaria</td>
                                    <td>05/05/219</td>
                                    <td>
                                        <span style="color: red">
                                            R$  - 800,00
                                        </span>
                                    </td>
                                </tr>
                                <tr role="row" class="odd">
                                    <td>Combustivel</td>
                                    <td>Outros</td>
                                    <td>05/05/219</td>
                                    <td>
                                        <span style="color: red">
                                            R$  - 100,00
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="pull-right;">
                            <span style="color: red;">Total: R$ - 1.400,00</span>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Sair</button>
            </div>
        </div>
    </div>
</div>